*{
    background-color: white;
}
h1{
    color: blue;
    font-size: 40px;
}

.selector-clase{
    color: red;
    font-size: 30px;
}
#selector-id{
    color: yellowgreen;
    font-size: 24px;
}

button{
    background-color: red;
    
}

button:hover{
    background-color: orange;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    border: none;
    transition: all 1.5 ease;

}
.pseudo-clase-hover{
    font-size: 20px;
}

.pseudo-clase-hover:hover{
    color: blue;
    cursor: pointer;
    
}
.pseudo-clase-link-hover{
    text-decoration: none;
    font-size: 20px;
}
.pseudo-clase-link-hover:hover{
    text-decoration: underline;
}
.pseudo-clase-link-hover:active{
    font-size: 40px;
    color: orange;
}
.pseudo-clase-link-hover:focus{
    color: violet;
    border: 2px dotted #444;
}
/* pseudoclase: Primer y ultimo hijo*/

.hijos-pseudo p:first-child {
    background-color: red;
}
.hijos-pseudo p:last-child{
    background-color: blue;
}
.hijos-pseudo p:nth-child(3){
    background-color: orange;
}
/* Pares */
.hijos-pseudo p:nth-child(2n){
    background-color: green;
}
/* Impares */
.hijos-pseudo p:nth-child(2n-1){
    background-color: blueviolet;
}

/* before */
.prueba-before::before{
    content: 'hola';
    color: red;
    font-size: 30px;
}

/* after */
.prueba-after::after{
    content: 'hola';
    color: yellow;
    background-color: blue;
    width: 12px;
    height: 12px;
    padding: 6px;
}

.prueba-first-letter::first-letter{
    color: red;
    font-size: 34px;
    text-decoration: underline;
}

.padre ul li:nth-child(3){
    background-color: orangered;

}

.padre ul .selecciona-este-li{
    background-color: green;
}

.padre li:nth-child(4){
    background-color: gold;
}

/*Herencia*/
.container{
    color: blue;
    font-size: 10px;
    border: 1px solid green;
}

.child{
    border: inherit;
    font-size: initial;
}
/*casacada*/
.miparrafo{
    padding: 10px;
    color: red;
}

.miparrafo{
    background-color: gray;
    color: blue;
}
/*Unidades de medida*/
/*Unidades de media absoluta: Son aquella que cambian ejem: px
Unidades de medida relativa: si van a cambiar: rem, em, vw, vh
*/

.caja1{
    background-color: brown;
    width: 300px;
    height: 300px;
}
.caja2{
    background-color: aquamarine;
    width: 50%;
    font-size: 30px;
}
.caja3{
    background-color: red;
    width: 50%;
}